<!DOCTYPE html>
<html>
<head>
  <title>HapGc</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>
	<div id="banner">
		<h1 id="logo" class="left"><%= link_to 'Happining', root_url %></h1>
		
		<ul id="nav" class="right">
			<% if user_signed_in? %>
				<li><%= link_to current_user.profile_name, edit_user_registration_path %></li>
				<li><%= link_to "Logout", destroy_user_session_path, method: :delete %></li>
			<% else %>
				<li><%= link_to "Register", new_user_registration_path %></li>
				<li><%= link_to "Login", new_user_session_path %></li>
			<% end %>
		</ul>
	</div>
	<p class="notice"><%= notice %></p>
 	<p class="alert"><%= alert %></p>
	<%= yield %>
	<%= yield :scripts %>
</body>
</html>
